body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    font-family: Arial, sans-serif;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #444;
}

